/* Ini judul */
h1{
    color: red;
    text-align: center;
    font-weight: bolder;
}

 /* Ini Body */
p{
    text-align: justify;
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: italic;
    text-indent: 5ch;
    text-decoration: wavy;
    text-transform: capitalize;
}

body{
    background-color: rgba(0, 0, 0, 0.259);
}

.btn-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0073e6;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    transition: background 0.3s;
}

.btn-link:hover {
    background-color: #005bb5;
}
